<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BotReload - Agent Assist - Smart Reply</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a href='https://www.botreload.com' target='_'>Botreload</a> : 
          	<a href='https://www.zendesk.com/apps/support/agent-assist--smart-reply/' target='_'>Agent Assist</a> : 
          	<a href='/' >Smart Reply</a></div>
        </div>        
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>
