{# [START form] #}
{% extends "base.html" %}

{% block content %}
<div class="navbar-header">
   <a href="/smartreply/list?cust_id={{cust_id}}" class="btn btn-success btn-sm">Home</a>
</div> 
<h4>Smart Reply - {{action}} </h4>
<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="author">Response Name</label>
    <input type="text" name="resp_name" id="resp_name" value="{{book.resp_name}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="description">Response Text</label>
    <textarea name="response_text" id="response_text" class="form-control">{{book.response_text}}</textarea>
  </div>

  <div class="form-group">
    <label for="description">Tags</label>
    <textarea name="tags" id="tags" class="form-control">{{book.tags}}</textarea>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# [END form] #}
