{% extends "base.html" %}

{% block content %}
<div class="navbar-header">
   <a href="/smartreply/list?cust_id={{cust_id}}" class="btn btn-success btn-sm">Home</a>
</div> 
<h4>Smart Reply - List </h4>
<a href="/smartreply/add?cust_id={{cust_id}}" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add Smart Reply
</a>
<table border=1>
<tr><th>Response Name</th><th>Response Text</th><th>Response Tags</th><th>    Actions   </th></tr> 
{% for book in books %}
<tr>
	<td><p><a href="/smartreply/{{book.id}}?cust_id={{cust_id}}" >{{book.resp_name}}</a><p></td>
    <td> <p>{{book.response_text}}</p> </td>
    <td> <p>{{book.tags}}</p> </td>
    <td width='10%''><a href="/smartreply/{{book.id}}/edit?cust_id={{cust_id}}" class="btn btn-success btn-sm">Edit</a> | <a href="/smartreply/{{book.id}}/delete?cust_id={{cust_id}}" class="btn btn-success btn-sm">Delete</a> </td>
{% else %}
<p>No books found</p>
</tr>
{% endfor %}
</table>
{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
