{% extends "base.html" %}

{% block content %}
<div class="navbar-header">
   <a href="/smartreply/list?cust_id={{cust_id}}" class="btn btn-success btn-sm">Home</a>
</div> 
<h4>Smart Reply - View </h4>

<div class="btn-group">
  <a href="/smartreply/{{book.id}}/edit?cust_id={{cust_id}}" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit Smart Reply
  </a>
  <a href="/smartreply/{{book.id}}/delete?cust_id={{cust_id}}" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete Smart Reply
  </a>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="book-title">
      {{book.resp_name}}
      <small>{{book.created}}</small>
    </h4>
    <p class="book-description"><b>Category :</b> {{book.res_category}}</p>
    <p class="book-description"><b>Response Text :</b> {{book.response_text}}</p>
    <p class="book-description"><b>Tags :</b> {{book.tags}}</p>
  </div>
</div>

{% endblock %}
