Flask==0.12.2
matplotlib>=0.0
sklearn>=0.0
numpy>=0.0
pandas_ml>=0.0
nltk>=0.0
gensim>=2.1
google-cloud-datastore==1.6.0
gunicorn==19.7.1
PyMySQL==0.8.0
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
Flask-PyMongo==0.5.1
PyMongo==3.6.0
six==1.11.0