body {
  font-size: 10px;
}

label {
  padding-top: 8px;
}

#name, #notes {
  width: 95%;
}

#notes {
  height: 5em;
}

button {
  margin-top: 8px;
  margin-bottom: 12px;
}

#content td {
	font-size: 12px;
	padding-top: 2px;
}

textarea {
   resize: both;
}